body {
    display: block;
    flex-direction: column;
    font-family: Google Sans Text,arial,sans-serif;
    margin-left: 30px;
}

.ff {

    display: flex;
    flex-direction: row;
    color: #4d90fe;
    line-height: 16px;
    vertical-align: middle;
}


.field, .field2, .field3 {

    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    
}
.field, .field3 {
    width: 400px;
    padding: 1px 8px;
}
.field2 {
    width: 175px;
    padding: 1px 8px;
}
.field3 {
    width: 417px;
    padding: 1px 10px;
    font-weight: bold;
    background-color: rgb(243, 243, 243);


}

.field:hover, .field2:hover, .field3:hover {
    border-color: #4d90fe;
}


.text {
    
    display: inline-block;
    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    margin-left: 20px;

}

#submit {

    float: inline-start;
    background-color: #4d90fe;
    border: 1px solid #3079ed;
    user-select: none;
    line-height: 100%;
    height: 30px;
    min-width: 120px;
    margin-left: 550px;
    color: #fff;
}
#submit:active {
    
background-color: #4787ed;
border: 1px solid #3079ed;

}
.to{
    color: #222;
    margin-left: 10px;
    margin-right: 10px;
}

span {
    margin-left: 10px;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
    text-decoration: none;
    margin-left: 20px;
}

.line {
color: #d9d9d9;
margin-top: 50px;

}
.link {
    margin-left: 10px;
    line-height: 18px;
}
h1 {
    color: #d93025;
    font-size: 20px;
    margin-left: 20px;
}

.span {

    display: table-cell;
    vertical-align: middle;
    min-width: 167px;
    width: 16%;
    min-height: 42px;
    font-size: 18px;
    color: #333;
    vertical-align: middle;
    height: 30px;

}
.list {
    margin-left: 530px;
font-weight: bold;
height: 30px;
vertical-align: middle;
color: #777;
}

.instruction {
    height: 30px;
    display: table-cell;
    padding-left: 5px;
    vertical-align: middle;
    position: relative;
    vertical-align: middle;
    color: #555;
    font-size: 11px;
    font-weight: inherit;
    font-style: inherit;


}
p {
    line-height: 0;
}